.imgCarousel {
	max-height: 100vh;
	max-width: 100vw;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: var(--grey-light);
	text-align: center;
	position: relative;
	overflow-x: hidden;
}

.imgCarousel .imgCarousel__text h1 {
	font-weight: 700;
	font-family: 'Roboto';
	margin: 10px auto 5px auto;
}

.imgCarousel .imgCarousel__text p {
	font-weight: 400;
	font-family: 'Roboto';
	margin: 0px auto 15px auto;
}

.imgCarousel img {
	user-select: none;
	overflow: hidden;
}

.imgCarousel .imgCarousel__buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	z-index: 5;
	overflow: hidden;
}

.imgCarousel .imgCarousel__buttons__bg {
	position: absolute;
	bottom: 0;
	height: 40px;
	background-color: var(--grey-dark);
	width: 100%;
	opacity: 0.5;
}

.imgCarousel .imgCarousel__buttons .imgCarousel__buttons--active {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background-color: var(--dark-yellow);
	border: 4px solid var(--white);
	pointer-events: none;
}

.imgCarousel .imgCarousel__buttons button {
	cursor: pointer;
	margin: 1rem;
	height: 30px;
	width: 30px;
	border-radius: 15px;
	border: 4px solid var(--grey-dark);
	outline: none;
	transition: background-color 0.3s ease-in-out;
}

.imgCarousel .imgCarousel__buttons button:hover {
	background-color: var(--dark-yellow);
	transition: background-color 0.3s ease-in-out;
}

.imgCarousel a.imgCarousel__arrow__down {
	z-index: 10;
	position: absolute;
	left: 0;
	right: 0;
	width: 35px;
	margin-left: auto;
	margin-right: auto;
}

.imgCarousel .imgCarousel__arrow__down img {
	max-height: 50px;
	max-width: 35px;
	transition: all 0.3s ease-in-out;
}

.imgCarousel .imgCarousel__arrow__down img:hover {
	max-height: 60px;
	max-width: 45px;
	transition: all 0.3s ease-in-out;
}

.imgCarousel .imgCarousel__arrow__down svg {
	fill: var(--black);
	transition: fill 0.3s ease-in-out;
}

.imgCarousel .imgCarousel__arrow__down svg:hover {
	fill: var(--dark-yellow);
	transition: fill 0.3s ease-in-out;
}

@media (max-width: 767px) {
	.imgCarousel {
		height: 50%;
	}

	.imgCarousel .imgCarousel__text p {
		width: 200px;
	}

	.imgCarousel .imgCarousel__arrow__down {
		top: 110px;
	}

	.imgCarousel .imgCarousel__text h1 {
		color: var(--white-darker);
		font-size: 30px;
	}

	.imgCarousel .imgCarousel__text p {
		color: var(--white-darker);
		font-size: 16px;
	}
}

@media (min-width: 767px) {
	.imgCarousel .imgCarousel__text {
		position: absolute;
		left: 0;
		right: 0;
		top: 30px;
		margin-left: auto;
		margin-right: auto;
		z-index: 5;
	}

	.imgCarousel img {
		margin-top: -100px;
	}
	.imgCarousel .imgCarousel__arrow__down {
		top: 170px;
	}

	.imgCarousel .imgCarousel__text h1 {
		color: var(--dark-yellow);
		font-size: 60px;
	}

	.imgCarousel .imgCarousel__text p {
		color: var(--dark-yellow);
		font-size: 24px;
	}
}

.fade-in-fwd {
	-webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
	animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-fwd {
	0% {
		-webkit-transform: translateZ(-80px);
		transform: translateZ(-80px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}
@keyframes fade-in-fwd {
	0% {
		-webkit-transform: translateZ(-80px);
		transform: translateZ(-80px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}
