.card {
	display: flex;
	flex-direction: column;
	margin: 10px auto 10px auto;
	transition: all 0.3s ease-in-out;
	overflow: hidden;
	width: 320px;
}

.card .card__title {
	margin: 10px 0px;
}

.card .card__text {
	margin: 10px 0px;
}

.card:hover {
	color: var(--dark-yellow);
	transition: color 0.3s ease-in-out;
}

.card__img {
	width: 100%;
	overflow: hidden;
	border: 10px solid var(--grey-bright);
	padding: -50px;
	transition: all 0.3s ease-in-out;
}

.card:hover .card__img {
	border-color: var(--dark-yellow);
	transition: border-color 0.3s ease-in-out;
}
