:root {
	--white: #ffffff;
	--white-darker: #fefefe;
	--dark-yellow: #546130;
	--grey-dark: #343434;
	--grey-light: #454545;
	--grey-bright: #6f6f6f;
	--grey-white: #bebebe;
	--black: #333333;
	--input: #707070;
}

html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	color: white;
	font-family: 'Roboto';
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}
